.container-fluid {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  #logo {
    animation: App-logo-flip infinite 20s linear;
  }
} */

#header {
  background-color: #dbe9f7;
  width: 100%;
  font-size: calc(10px + 2vmin);
  border-radius: 0.5em;
}

#navbar {
  border-radius: 0.5em;
}

#logo {
  width: 60%;
}
.card {
  border: none;
}

#banner {
  width: 50%;
  background: transparent;
  justify-content: center;
}

#home {
  color:rgb(6, 6, 195);
  text-decoration: none;
}

#home-icon {
  margin-right: 2%;
}

#home:hover {
  color: rgba(128, 128, 128, 0.506);
  transition: all 0.3s ease-in-out;
  font-size: 110%;
}

#menu {
  color:rgb(6, 6, 195);
  text-decoration: none;
}

#menu-icon {
  margin-right: 2%;
}

#menu:hover {
  color: rgba(128, 128, 128, 0.506);
  transition: all 0.3s ease-in-out;
  font-size: 110%;
}


#custom {
  color:rgb(6, 6, 195);
  text-decoration: none;
}

#custom-icon {
  margin-right: 2%;
}

#custom:hover {
  color: rgba(128, 128, 128, 0.506);
  transition: all 0.3s ease-in-out;
  font-size: 110%;
}

#list {
  margin-right: 0.5%;
}

#footer-card {
  background: none;
  border: none;
  font-size: 10pt;
  
}

.App-footer {
  margin-top: 60%;
}

#footer {
  background-color: transparent;
  border-top: 1.5px solid black;
  padding-top: 1%;
}

#footer-title {
  font-size: 90%;
}

#inline_container {
  max-height: auto;
  width: 100%;
  overflow-y: hidden;
}

#main-label {
  border-bottom: 1px dashed black; 
  margin-bottom: 3%; 
  text-align: center; 
  font-size: 125%
}

#inner-label {
  margin-top: 2.5%; 
  margin-bottom: 1%
}

#royal-icon {
  width: 5%;
  padding-bottom: 0.5%;
}

/**************************** Music-CSS ************************/
*{
 font-family: 'Poppins', sans-serif;
}

audio::-webkit-media-controls-panel {
 background-color: transparent;
}

audio::-webkit-media-controls-time-remaining-display
{
 color: #b90b0b;
 font-weight: bolder;
}

::-webkit-scrollbar {
 width: 10px;
}

::-webkit-scrollbar-track {
 box-shadow: inset 0 0 5px white; 
 border-radius: 10px;
}

::-webkit-scrollbar-thumb {
 background: #1650DA; 
 border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
 background: white; 
}

.box_shadow
{
 box-shadow:  rgba(10, 65, 214, 0.25) 12px 54px 55px, rgba(10, 65, 214, 0.25) 0px -12px 30px, rgba(10, 65, 214, 0.25) 0px 4px 6px, rgba(10, 65, 214, 0.25) 0px 12px 13px, rgba(10, 65, 214, 0.25) 0px -3px 5px;
}

#main {
  background-color: transparent;
}

#main-div {
  background-color: transparent;
  width: 50%;
}

#song_name {
  color:#1650DA;
}

#img1 {
  border: 2px dashed #1650DA;
}

#previous_track_btn {
  background-color:transparent;
  border: 2px solid whitesmoke; 
}

#back:hover {
  color: rgba(128, 128, 128, 0.506);
  transition: all 0.3s ease-in-out;
  font-size: 110%;
}

#next_track_btn {
  background-color:transparent;
  border: 2px solid whitesmoke; 
}

#next:hover {
  color: rgba(128, 128, 128, 0.506);
  transition: all 0.3s ease-in-out;
  font-size: 110%;
}

#play_track {
  background-color:transparent;
  border: 2px solid whitesmoke; 
  color: whitesmoke;
}

#play:hover {
  color: rgba(128, 128, 128, 0.506);
  transition: all 0.3s ease-in-out;
  font-size: 110%;
}

#main-div1 {
  background-color: transparent;
}

#img2 {
  border: 2px dashed #1650DA;
}

#h3 {
  color:#1650DA;
}

#text {
  color:#1650DA
}

#list {
  color:#1650DA
}
/**************************** END-Music-CSS ************************/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
